body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #333;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

h2 {
    margin-bottom: 20px;
    color: #c400c4;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #d500f9;;
}

.error {
    color: #e0162a;
    margin-bottom: 10px;
}

.suggestions {
    display: none;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}

.suggestions li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #555;
}


button {
    background-color: #ff00ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c400c4;
  }
  
  a {
    color: #ff00ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  .ReturnToLogin {
    background-color: #ff00ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration:none;
  }
  
  .ReturnToLogin:hover {
    background-color: #c400c4;
    text-decoration:none;
  }
